<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Velha - A Tic-Tac-Toe Game</title>
  </head>
  <body>
    <div id="root"></div>

    <% htmlWebpackPlugin.files.js.forEach((source) => { %>
      <script src="<%= source %>"></script>
    <% }); %>
  </body>
</html>